*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: calc(100vh - 95px);
    
}
main > div {
    width: 100%;
    display: flex;
}
.menu {
    width: 300px;
    height: calc(100vh - 95px);
    background-color: black;
    padding: 20px;
    position: fixed;
    z-index: 3;
}
.logo{
    width: 200px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.568);
}
.home{
    width: 200px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.568);
    margin-top: 20px;
}
.playlist{
    width: 200px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.568);
    margin-top: 15px;
}
.profile{
    width: 200px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.568);
    margin-top: 220px;
}
.display{
    width: calc(100% - 300px);
    height: calc(100vh - 95px);
}
.upgrade{
    width: 100%;
    height: 85px;
    background-color: #080b1233;
    position: fixed;
    display: flex;
    align-items: center;
}
.upgrade > button {
    background-color: #080b1233;
    border: white 1px solid;
    border-radius: 50px;
    color: white;
    padding: 10px 25px;
    position: absolute;
    right: 40px;
}
.container{
    width: 100%;
    overflow: initial;
    padding: 95px 15px 95px 15px;
    background-color: #141922;
    margin-left: 300px;
}
.genres {
    text-align: center;
    margin: auto;
}
.genres > a {
    text-decoration: none;
    color: white;
    padding: 13px;
}
.firstplaylist {
    width: 100%;
}
.recentlytitol {
    width: 30%;
    color: white;
    margin-top: 28px;
}
.blockrecentlyplayed{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.blockrecentlyplayed > .col {
    width: calc(100% / 6);
    padding: 8px;
}
.blockrecentlyplayed > .col > .card {
    width: 100%;
    height: 100%;
    text-align: center;
}
.cardimg > img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
.cardtitle > h3 {
    color: white;
    padding: 8px;
}
.cardtitle > p {
    color: gray;
}
.secondplaylist{
    width: 100%;
    margin-top: 25px;
}
.titolcreatedfor{
    width: 300px;
    height: 60px;
    background-color: white;
    
}
.blockcratedfor{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.blockcratedfor > .col{
    width: calc(100% / 6);
    background-color: violet;
    padding: 8px;
}
.blockcratedfor > .col > .card {
    width: 100%;
    height: 230px;
    background-color: pink;
}
.thirdplaylist{
    width: 100%;
    margin-top: 25px;
}
.titolartist{
    width: 300px;
    height: 60px;
    background-color: white;
}
.blockartist{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.blockartist > .col {
    width: calc(100% / 6);
    background-color: violet;
    padding: 8px;
}
.blockartist > .col > .card {
    width: 100%;
    height: 230px;
    background-color: pink;
    border-radius: 170px;
}
footer{
    width: 100%;
    height: 95px;
    background-color: #282828;
    position: fixed;
}
.containerfooter{
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.namepiece{
    width: 270px;
    height: 80px;
    background-color: white;
}
.play{
    width: 500px;
    height: 80px;
    background-color: white;
}
.volume{
    width: 270px;
    height: 80px;
    background-color: white;
}
@media screen and (min-width: 750px) and (max-width: 1200px) {
    .blockrecentlyplayed > .col {
        width: calc(100% / 4);
    }
    .blockrecentlyplayed{
        display: flex;
        flex-wrap: wrap;
    }
}
