*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: calc(100vh - 95px);
    
}
main > div {
    width: 100%;
    display: flex;
}
.menu {
    width: 300px;
    height: calc(100vh - 95px);
    background-color: black;
    padding: 20px;
    position: fixed;
    z-index: 3;
}
.logo{
    width: 200px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.568);
}
.home{
    width: 200px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.568);
    margin-top: 20px;
}
.playlist{
    width: 200px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.568);
    margin-top: 15px;
}
.profile{
    width: 200px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.568);
    margin-top: 220px;
}
.display{
    width: calc(100% - 300px);
    height: calc(100vh - 95px);
}
.upgrade{
    width: 100%;
    height: 85px;
    background-color: #080b1273;
    position: fixed;
    display: flex;
    align-items: center;
}
.upgrade > button {
    background-color: #080b1273;
    border: white 1px solid;
    border-radius: 50px;
    color: white;
    padding: 10px 25px;
    position: absolute;
    right: 40px;
}
.container{
    width: 100%;
    overflow: initial;
    padding: 95px 15px 130px 15px;
    background-color: #141922;
    margin-left: 300px;
}
.genres {
    text-align: center;
    margin: auto;
}
.genres > ul > li {
    display: inline;
    padding: 13px;
}
.genres > ul > li > a {
    color: white;
    text-decoration: none;
    line-height: 40px;
}
.firstplaylist {
    width: 100%;
}
.recentlytitol {
    color: white;
    margin: 25px 2%;
}
.blockrecentlyplayed{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.blockrecentlyplayed > .col {
    width: calc(100% / 6);
    padding: 8px;
}
.blockrecentlyplayed > .col > .card {
    width: 100%;
    height: 100%;
    text-align: center;
}
.cardimg > img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
.cardtitle > h3 {
    color: white;
    padding: 8px;
}
.cardtitle > p {
    color: gray;
}
.secondplaylist{
    width: 100%;
    margin-top: 25px;
}
.titolcreatedfor{
    width: 300px;
    color: white;
    margin: 25px 2% 10px 2%;
}
.secondplaylist > p {
    margin: 5px 2% 15px 2%;
    color: gray;
}
.blockcratedfor{
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.blockcratedfor > .col{
    width: calc(100% / 6);
    padding: 8px;
}
.blockcratedfor > .col > .card {
    width: 100%;
    height: 100%;
    text-align: center;
}
.thirdplaylist{
    width: 100%;
    margin-top: 25px;
}
.titolartist{
    width: 300px;
    color: white;
    margin: 8px 2% 8px 2%;
}
.thirdplaylist > p {
    color: gray;
    margin: 5px 2% 8px 2%;
}
.blockartist{
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.blockartist > .col {
    width: calc(100% / 6);
    padding: 8px;
}
.blockartist > .col > .card {
    width: 85%;
    height: 100%;
    text-align: center;
    margin: auto;
}
.cardimground > img {
    border-radius: 200px;
    width: 100%;
    text-align: center;
}
footer{
    width: 100%;
    height: 95px;
    background-color: #282828;
    position: fixed;
}
.containerfooter{
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.namepiece{
    width: 270px;
    height: 80px;
    background-color: white;
}
.play{
    width: 500px;
    height: 80px;
    background-color: white;
}
.volume{
    width: 270px;
    height: 80px;
    background-color: white;
}
@media screen and (min-width: 750px) and (max-width: 1200px) {
    .blockrecentlyplayed > .col {
        width: calc(100% / 4);
    }
    .blockrecentlyplayed{
        display: flex;
        flex-wrap: wrap;
    }
    .blockcratedfor > .col {
        width: calc(100% / 4);
    }
    .blockartist > .col {
        width: calc(100% / 4);
    }
}
@media screen and (min-width: 480px) and (max-width: 749px) {
    .blockrecentlyplayed > .col {
        width: calc(100% / 2);
    }
    .blockrecentlyplayed{
        display: flex;
        flex-wrap: wrap;
    }
    .blockcratedfor > .col {
        width: calc(100% / 2);
    }
    .blockartist > .col {
        width: calc(100% / 2);
    }
    .genres > a > span{
        padding-bottom: 20px;
    }
}